!!! 5
html
  head
    title Coheed and Cambria Keywork Clock

    link(href='css/keywork.css', rel='stylesheet', type='text/css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='js/jquery.countdown.js')
    script(src='js/keywork.js')
  body
    canvas#keywork
              